# 게임 서버용 requirements.txt

python-dotenv
aio-pika>=8.0.0
motor>=3.7.1
pydantic>=2.0
structlog>=21.0.0
python-json-logger>=2.0.1
pytest>=7.0
pytest-asyncio>=0.20
numpy>=1.24
pymongo>=4.10.0
mysql-connector-python>=8.0.0
redis>=5.0.0
prometheus-client
